*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color : #2b3137;
    --secondary-color : #fafbfc;
    --third-color: #47b260;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #24292e;

    /* overflow: hidden; */
}

.user-form{
    width: 100%;
    max-width: 700px;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    border: none;
    padding: 1rem;
    border-radius: 3rem;
    margin: 10px 0px;
    color: var(--secondary-color);
}

.user-form input:focus{
    outline: none;
}
.user-form input:active{
    background-color: var(--primary-color);

}

.card{
    max-width: 800px;
    box-shadow:  inset 0 0px 10px rgba(21, 21, 21, 0.273),
     0 0px 20px rgba(21, 21, 21, 0.33);
    background-color: var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 1rem 0rem;
    color: var(--secondary-color);
}
.error-card{
    padding: 1rem;
    margin: 0.5rem 0rem;
    color: var(--secondary-color);
}

.card .avatar{
    border-radius: 100px;
    border: 2px solid var(--primary-color);
    /* margin: rem 0px; */
    box-shadow: 0px 0px 10px #070707;
    height: 100px;
    width: 100px;
    
}
.user-info{
    margin-left: 2rem;
}
.user-name{
    margin: 0;
    font-size: 1.5rem;
}
.user-info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
    max-width: 400px;
}
.user-info ul li{
    display: flex;
    align-items: center;
   
   

}
.user-info .repos {
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 1rem;
    background-color: var(--third-color);
    border-radius: 5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: inline-block;

}
.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.3rem;
    font-weight: 600;
    color: 	#5093dfdb;
}


/* media queries */
@media(max-width: 500px){
    .card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
   .user-info{
    margin-left: 0;
    text-align: center;
   }
   /* .user-name{
    
   } */
       
    
     #repos{
        margin-top: 20px;
        text-align: center;
     }
     #main{
        margin: 2rem;
     }
    }